{% block body %}
    <div class="modal fade" id="modalEditEvent" tabindex="-1" role="dialog" aria-labelledby="Editar Evento Modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="form-edit-event">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar evento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tile" class="col-form-label">Título:</label>
                            <input type="text" name="title" class="form-control" id="title_edit">
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div id="date_begin_parent" class="form-group">
                                    <label for="date_begin" class="col-form-label">Data de inicio:</label>
                                    <input type="text" name="date_begin" class="form-control datepicker" id="date_begin_edit">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div id="date_end_parent" class="form-group">
                                    <label for="date_end" class="col-form-label">Data final:</label>
                                    <input type="text" name="date_end" class="form-control datepicker" id="date_end_edit">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-form-label">Descrição:</label>
                            <textarea class="form-control" name="description" id="description_edit"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" onclick="cancelEditEvent()" data-dismiss="modal">Cancelar</button>
                        <button type="submit"  class="btn btn-outline-dark">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function cancelEditEvent() {
            $(':input','#form-edit-event')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');
            $("#edit-lecture").hide();
            $("#create-lecture").show();
        }
    </script>
{% endblock %}

