{% extends 'base.html.twig' %}

{% block title %}Hello LectureController!{% endblock %}

{% block body %}
  {% for row in events|batch(4) %}
    {% for event in row %}
      <div class="card-body">
        <div class="card-title">
          <h4 class="font-weight-light">
            {{ event }}
          </h4>
          <hr>
          <p>Data inicio: {{ event.getDateBegin|date('d/m/Y') }} <br>Data final: {{ event.getDateEnd|date('d/m/Y') }}</p>
        </div>
        <a href="{{ path('event', { id: event.id }) }}"
           class="btn btn-sm btn-blue stretched-link">
          Abrir
        </a>
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
