{% block body %}
    <form id="form-create-lecture">
        <div class="form-group">
            <label for="title" class="col-form-label">Título:</label>
            <input type="text" name="title" class="form-control" id="title">
        </div>

        <div class="form-group">
            <div id="date_begin_parent" class="form-group">
                <label for="date_begin" class="col-form-label">Data de inicio:</label>
                <input type="date" name="date_begin" class="form-control" id="date_begin">
            </div>
        </div>

        <div class="form-row">
            <div class="col-lg-6">
                <div id="date_begin_parent" class="form-group">
                    <label for="hour_begin" class="col-form-label">Hora de inicio:</label>
                    <input type="time" name="hour_begin" class="form-control" id="hour_begin">
                </div>
            </div>
            <div class="col-lg-6">
                <div id="hour_end_parent" class="form-group">
                    <label for="hour_end" class="col-form-label">Hora final:</label>
                    <input type="time" name="hour_end" class="form-control" id="hour_end">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="speaker" class="col-form-label">Palestrante:</label>
            <input type="text" name="speaker" class="form-control" id="speaker">
        </div>

        <div class="form-group">
            <label for="description" class="col-form-label">Descrição:</label>
            <textarea class="form-control" name="description" id="description"></textarea>
        </div>

        <div class="form-group">
            <input type="hidden" class="form-control" name="event_id" id="event_id" value="{{ event.id }}">
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-dark">Criar</button>
        </div>
    </form>
{% endblock %}

