{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}
    {% for row in events|batch(4) %}
        <div class="row">
            {% for event in row %}
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card border shadow lift">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="font-weight-light">
                                    {{ event }}
                                </h4>
                                <hr>
                                <p>Data inicio: <span class="font-date">{{ event.getDateBegin|date('d/m/Y') }}</span> <br>Data final: <span class="font-date">{{ event.getDateEnd|date('d/m/Y') }}</span></p>
                            </div>
                            <a href="{{ path('event', { id: event.id }) }}"
                               class="btn btn-sm btn-outline-dark">
                                Abrir
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
