{% extends 'base.html.twig' %}


{% block title %}Eventos{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />

    <div class="row">
        {% if app.user %}
            <div class="col-12 text-center" style="margin-bottom: 2em">
                <button class="btn btn-lg btn-outline-dark" data-toggle="modal" data-target="#modalCreateEvent">
                    Criar evento
                </button>
            </div>
        {% endif %}
        {% include 'event/create.html.twig' %}
        {% include 'event/edit.html.twig' %}
    </div>

    {% for row in events|batch(4) %}
        <div class="row">
            {% for event in row %}
                {{ include('event/widget.html.twig') }}
            {% endfor %}
        </div>
    {% endfor %}

    {% if app.user %}
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
        <script>
            let EventID = 0;

            function createEvent(){}

            async function editEvent(IdEvent) {
                console.log(IdEvent);
                EventID = IdEvent;
                let event = await eventById(EventID);
                setEditForm(event)
            }

            async function eventById(EventID) {
                let resp = {};
                await $.ajax({
                    url:'http://127.0.0.1:8000/api/event/' + EventID,
                    type: 'GET',
                    datatype: 'json',
                    success: function(response) {
                        resp = response["event"];
                    },
                    error: function(error) {
                        console.log(error)
                    }
                });
                return resp;
            }

            function setEditForm(event){
                $('#title_edit').val(event["title"]);
                $('#date_begin_edit').val(moment(Date(event.date_begin)).format("DD/MM/YYYY"));
                $('#date_end_edit').val(moment(Date(event.date_end)).format("DD/MM/YYYY"));
                $('#description_edit').val(event["description"]);
            }

            function deleteEvent(id) {
                Swal.fire({
                    title: 'Tem certeza?',
                    text: "Apagar o evento, apagara as palestras consequentemente!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, simbora!',
                    cancelButtonText: 'Naum minino'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'Apagado!',
                            'O evento e suas palestras foram apagados',
                            'success'
                        ).then((_) => window.location.assign('http://127.0.0.1:8000/'));

                        let url = 'http://127.0.0.1:8000/api/event/delete/' + id;
                        let xhr = new XMLHttpRequest();
                        xhr.open('DELETE', url, true);
                        xhr.onreadystatechange = function() {
                            if (xhr.readyState === 4) {
                                if (xhr.status === 200)
                                    console.log(JSON.parse(xhr.responseText));
                            }
                        }
                        xhr.send();
                    }
                })
            }

            function formatResult(form) {
                result = {};
                $.each($(form).serializeArray(), function() {
                    result[this.name] = this.value;
                });
                return result;
            }

            jQuery(function($) {

                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                });

                // TODO set in inputs of edition, the information's about the event
                $(".editEvent").click(function(){
                    EventID = $(this).data('id');
                    console.log(EventID);
                });

                $("#form-create-event").validate({
                    rules: {
                        title: {
                            required: true,
                            minlength: 5
                        },
                        description: {
                            required: true,
                            minlength: 5,
                        },
                        date_begin: {
                            required: true,
                        },
                        date_end: {
                            required: true,
                        },
                    },
                    submitHandler: function(form) {
                        $(form).find('button[type=submit]').addClass("disabled btn-progress");
                        let data = formatResult(form);
                        let date_begin = moment(Date(data.date_begin)).format("YYYY-MM-DD")
                        let date_end = moment(Date(data.date_end)).format("YYYY-MM-DD")
                        $.ajax({
                            url:'http://127.0.0.1:8000/api/event/create',
                            type: 'POST',
                            datatype: 'json',
                            data: {
                                title: data.title,
                                description: data.description,
                                date_begin: date_begin,
                                date_end: date_end,
                            },
                            success: function(response) {
                                Swal.fire(
                                    'Criado!',
                                    'O evento foi criado',
                                    'success'
                                ).then((_) => window.location.assign('http://127.0.0.1:8000/'));
                            },
                            error: function() {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Evento não criado!',
                                })
                            },
                            complete: function() {
                                $(form).find('button[type=submit]').removeClass("disabled btn-progress");
                                $(form).reset();
                            }
                        });
                    }
                });

                $("#form-edit-event").validate({
                    rules: {
                        title: {
                            required: true,
                            minlength: 5
                        },
                        description: {
                            required: true,
                            minlength: 5,
                        },
                        date_begin: {
                            required: true,
                        },
                        date_end: {
                            required: true,
                        },
                    },
                    submitHandler: function(form) {
                        $(form).find('button[type=submit]').addClass("disabled btn-progress");
                        let data = formatResult(form);
                        let date_begin = moment(Date(data.date_begin)).format("YYYY-MM-DD")
                        let date_end = moment(Date(data.date_end)).format("YYYY-MM-DD")
                        $.ajax({
                            url:'http://127.0.0.1:8000/api/event/update/' + EventID,
                            type: 'PUT',
                            datatype: 'json',
                            data: {
                                title: data.title,
                                description: data.description,
                                date_begin: date_begin,
                                date_end: date_end,
                            },
                            success: function(response) {
                                Swal.fire(
                                    'Atualizado!',
                                    'O evento foi atualizado',
                                    'success'
                                ).then((_) => window.location.assign('http://127.0.0.1:8000/'));
                            },
                            error: function() {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Evento não atualizado!',
                                })
                            },
                            complete: function() {
                                $(form).find('button[type=submit]').removeClass("disabled btn-progress");
                                $(form).reset();
                                EventID = 0;
                            }
                        });
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}